@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background: #3f3f44;
    color: #3f3f44;
}

label {
    color: #fff;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

h1 {
    color: #fff;
    font-family: 'Quicksand';
    font-size: 7vh;
}

h2, h3 {
    font-family: 'Quicksand';   
    text-decoration: underline;
}

#frame {
    display: block;
}

.questionBox {
    background: #F7F7F7;
    border: #E5E5E5 solid 3px;
    border-radius: 1em;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

.warningBox {
    background: #F7F7F7;
    border: rgb(255, 195, 67) solid 3px;
    border-radius: 1em;
    text-align: center;
    margin: 2em;
    padding: 2em;
    color: rgb(255, 195, 67);
    font-weight: bolder;
}

.warning {
    color: rgb(255, 195, 67);
    font-weight: bolder;
}

.questionsPropositions li {
    font-weight: lighter;
    font-size: 1em;
    font-style: italic;
}

.questionsSolution ul {
    padding-left: 0;
    font-weight: bold;
    font-size: larger;
}